5_6055097627509260583 (1).json
[{"id":"c61db363.a575c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"24c94cda.a76154","type":"ui_form","z":"c61db363.a575c","name":"","label":"","group":"86da1690.e81618","order":1,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"hb","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"pl","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"cl","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX","value":"se","type":"text","required":true,"rows":null},{"label":"FAMILYHISTORY","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKERLAST5YRS","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"ex","type":"number","required":true,"rows":null}],"formValue":{"hb":"","pl":"","cl":"","bmi":"","ag":"","se":"","fh":"","sm":"","ex":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":440,"wires":[["b79e30bb.8d266","783bfdd7.615464"]]},{"id":"b79e30bb.8d266","type":"debug","z":"c61db363.a575c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":520,"wires":[]},{"id":"783bfdd7.615464","type":"function","z":"c61db363.a575c","name":"pre-token","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"cl\",msg.payload.cl)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"ex\",msg.payload.ex)\nvar apikey=\"uRSGRacIi_p2wi1SROQA2bfjcim-blu74u2A_YUwNk4B\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["56221733.b95908"]]},{"id":"56221733.b95908","type":"http request","z":"c61db363.a575c","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":512.0000038146973,"y":424.00000286102295,"wires":[["e759b592.993718","b027f003.07ec5"]]},{"id":"e759b592.993718","type":"debug","z":"c61db363.a575c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":480,"wires":[]},{"id":"b027f003.07ec5","type":"function","z":"c61db363.a575c","name":"Pre Prediction","func":"var hb = global.get(\"hb\")\nvar pl = global.get(\"pl\")\nvar cl = global.get(\"cl\")\nvar bmi = global.get(\"bmi\")\nvar ag = global.get(\"ag\")\nvar se = global.get(\"se\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar ex = global.get(\"ex\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVGHEARTBEATSPERMIN\", \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\", \"AGE\", \"SEX\", \"FAMILYHISTORY\", \"SMOKERLAST5YRS\", \"EXERCISEMINPERWEEK\"]],\"values\": [[hb,pl,cl,bmi,ag,se,fh,sm,ex]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":704.0000076293945,"y":376.0000021457672,"wires":[["1287928c.e1717d"]]},{"id":"1287928c.e1717d","type":"http request","z":"c61db363.a575c","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/b437aefd-41af-4a72-9590-17102431f8e1/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":400,"wires":[["8d6e8060.0ff88","ffb4cc23.bf829"]]},{"id":"8d6e8060.0ff88","type":"debug","z":"c61db363.a575c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1082.9999914169312,"y":484.00000381469727,"wires":[]},{"id":"ede702e4.2ed8c","type":"inject","z":"c61db363.a575c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":280,"wires":[["783bfdd7.615464"]]},{"id":"9a034ff5.7bf71","type":"debug","z":"c61db363.a575c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":913.9999885559082,"y":267.0000057220459,"wires":[]},{"id":"ffb4cc23.bf829","type":"function","z":"c61db363.a575c","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":759.6000595092773,"y":308.00000190734863,"wires":[["9a034ff5.7bf71","23aa0f3f.a63b"]]},{"id":"23aa0f3f.a63b","type":"ui_text","z":"c61db363.a575c","group":"86da1690.e81618","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":877.6000366210938,"y":541.2000122070312,"wires":[]},{"id":"86da1690.e81618","type":"ui_group","z":"","name":"New","tab":"cef56b3e.c4cfb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"cef56b3e.c4cfb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]